* {
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

#stage {
    background: url('pexels-dorothy-castillo-2270328.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}

#cards {
    padding: 25px;
    background-color: #333;
    text-align: center;
}

#hobby-cards {
    padding: 25px;
    text-align: center;
}